@font-face {
    font-family: 'cocogoose-light';
    src: url('https://fonts2u.com/download/cocogoose-pro-thin.font');
  }
  
  @font-face {
    font-family: 'cocogoose-bold';
    src: url('http://fonts.cdnfonts.com/css/cocogoose');
  }