/* general */
@font-face {
  font-family: 'cocogoose-light';
  src: url('https://fonts2u.com/download/cocogoose-pro-thin.font');
}

@font-face {
  font-family: 'cocogoose-bold';
  src: url('http://fonts.cdnfonts.com/css/cocogoose');
}

* {
  padding: 0%;
  margin: 0;
}

ul {
  text-decoration: none;
}

#box {
  height: 195px;
  width: 180px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

header {
  background: url(../img/bg.png);
  display: flex;
  flex-direction: column;
  background-size: cover;
  width: 100%;
}

.bg {
  background: url(../img/bg.png);
}

/* navbar */
.navblur {
  display: block;
  position: fixed;
  inset: 0;
  background: rgb(207, 95, 53, 0.9);
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(0.5rem);
  transition: all 0.5s ease;
}

.activate {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 8rem;
  margin-left: 4rem;
  transition: all 0.5s ease;
}

.list {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 8rem;
  margin-left: 4rem;
  transition: all 0.5s ease;
}

.padding {
  margin: 19px;
  z-index: 10;
}

.mobile-menu {
  display: none;
}

.pad {
  text-decoration: none;
  margin: 63px -59px;
  color: white;
}

.visible {
  display: block;
  font-size: 47px;
  margin-left: 320px;
  color: white;
  background: none;
  border: none;
}

.invisible {
  display: none;
}

nav {
  padding: 20px;
  text-decoration: none;
}

.nav-bar {
  background-color: white;
  align-items: center;
  text-decoration: none;
}

#logo {
  height: 44px;
  width: 51px;
  image-rendering: pixelated;
}

.image {
  height: 298px;
  width: 284px;
}

#bars {
  color: #272a32;
}

.hide {
  display: none;
}

.hamburger {
  color: black;
}

.desktop-menu {
  color: black;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-family: 'cocogoose-light', serif;
}

.desktop-menu a {
  text-decoration: none;
  font-family: 'cocogoose-ligh,', serif;
  color: #5a5a5a;
}

/* headline text section */
#header-text-1 {
  font-family: 'cocogoose-light', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.orange-color {
  color: #ec5242;
}

.header-text2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'cocogoose-bold', sans-serif;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0%;
  background-image: linear-gradient(to right, #ff512f 0%, #f09819 51%, #ff512f 100%);
}

.paragraph {
  font-family: 'cocogoose-light', sans-serif;
  color: gray;
  font-weight: 600;
  font-size: 13px;
  padding: 15px;
  line-height: 20px;
  display: flex;
  justify-content: center;
}

.margin-header {
  margin: 0 15px 21px 15px;
  padding: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hashtags {
  font-weight: 900;
  color: rgb(75, 75, 75);
  font-size: 30px;
}

.last-header-text {
  font-weight: 400;
  color: rgb(108, 108, 108);
  font-size: 16px;
  margin-top: 10px;
}

/* topic-section */
.section-topic {
  display: flex;
  flex-direction: column;
  background-image: url('../img/asset54.png');
  background-repeat: repeat;
  background-color: #272a32;
  color: white;
  justify-content: center;
  padding: 40px;
}

#title-section-2 {
  font-size: 36px;
  align-self: center;
  justify-content: center;
  border-bottom: 2px solid  #ec5242;
  margin-bottom: 90px;
}

.footer img {
  overflow: auto;
  height: 10%;
  width: 10%;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.16);
  padding: 16px 24px;
  gap: -61px;
  font-size: small;
  line-height: 167%;
}

.section-topic article img {
  width: 50%;
  height: 50%;
}

.article-text {
  color: #ec5242;
  margin-right: 33px;
  font-size: 20px;
}

.Name {
  font-size: 20px;
}

/* speakers-section */

.speakers-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#speaker-head {
  font-size: 36px;
  align-self: center;
  justify-content: center;
  border-bottom: 2px solid  #ec5242;
  margin-bottom: 90px;
}

.Contribution {
  font-size: 12px;
  color: #ec5242;
  font-weight: 100;
  margin: 5px 0;
}

.text-section {
  width: 50%;
  margin: 10px;
}

/* partner section */
.partners-section {
  display: flex;
  flex-direction: column;
  background-color: #414246;
  padding-bottom: 34px;
  padding-top: 10px;
  margin-top: 92px;
  width: 100%;
  order: 1;
  justify-content: center;
  align-items: center;
}

#partner-head {
  font-size: 36px;
  align-self: center;
  justify-content: center;
  border-bottom: 2px solid  #ec5242;
  margin-bottom: 90px;
  color: azure;
}

.logos {
  display: flex;
  width: 85%;
  height: auto;
  align-self: center;
  justify-self: center;
  gap: 30px;
}

/* footer section */

.footer {
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: x-small;
  margin: 50px 30px;
  color: #5a5a5a;
  font-weight: 600;
  line-height: 16px;
}

@media screen and  (min-width: 768px) {
  #desktop-variation-1 {
    display: flex;
    flex-direction: row;
  }

  .article {
    flex-direction: column;
  }

  .hamburger {
    display: none;
  }

  .invert {
    width: 50%;
  }

  .shift {
    display: flex;
    flex-direction: row;
  }

  .desktop-v {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 10px;
  }

  .text-section {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .pic-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
  }
}
